#fullBegin ({
	"title" : "Change Password",
	"subtitle" : "Change Password",
	"pageType" : "basic",
	"search" : false,
	"noLogo" : true,
	"titleBarLeft" : "Change Password",
	"wwform" : true
})

<br/>
#noteTop("500px")
<div style="text-align: center;">
<a href="/">
	<img id="logo" width="134" height="62" alt="Flip.TV Search" src="/themes/default/images/logo.gif"/>
</a>
</div>
<p class="memoheader">Change Your Password</p>
<p>
You can quickly change just your password here.  Make sure your password entries match.
</p>
#wwactionerror()
<div align="center">
	#wwform("method=post" "action=savePassword" "title=Register" "validate=true")	
		#wwpassword("required=true" "label=Current Password" "name=currentPassword")
		#wwpassword("required=true" "label=New Password" "name=newPassword")
		#wwpassword("required=true" "label=Confirm Password" "name=newPasswordConfirm")
		#wwsubmit("value=Change Password" "name=verify" "type=button")
	#end
</div>
<p>
We don't place a lot of limitations on what you can use for a password, but we recomend at least 7 
characters and including at least 1 digit and/or one character of punctuation.
</p>
#noteBottom()
<br/>
<br/>

#fullEnd ({
	"pageType" : "basic",
	"search" : false
})
