<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	
	<session-factory>
		
		<!-- properties -->


		<!-- properties -->
		<property name="connection.datasource">java:/comp/env/jdbc/guide</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">false</property>
		<property name="format_sql">false</property>
		<property name="hibernate.jdbc.batch_size">50</property>
		<!-- mapping files in alphabetical order -->
		<mapping resource="com/knowbout/epg/entities/Channel.hbm.xml"/>
		<mapping resource="com/knowbout/epg/entities/Community.hbm.xml"/>
		<mapping resource="com/knowbout/epg/entities/Credit.hbm.xml"/>
		<mapping resource="com/knowbout/epg/entities/Headend.hbm.xml"/>
		<mapping resource="com/knowbout/epg/entities/Lineup.hbm.xml"/>
		<mapping resource="com/knowbout/epg/entities/Network.hbm.xml"/>
		<mapping resource="com/knowbout/epg/entities/NetworkLineup.hbm.xml"/>
		<mapping resource="com/knowbout/epg/entities/NetworkSchedule.hbm.xml"/>
		<mapping resource="com/knowbout/epg/entities/Program.hbm.xml"/>
		<mapping resource="com/knowbout/epg/entities/Schedule.hbm.xml"/>
		<mapping resource="com/knowbout/epg/entities/Station.hbm.xml"/>
		
	</session-factory>
	
</hibernate-configuration>
