#set($titleBar = "Unable to locate program details")
#fullBegin({
	"subtitle" : "Program Details",
	"search" : true,
	"title" : $titleBar,
	"titleBarLeft" : $titleBar,
	"pageType" : "search"
})

<div id=searchBody>
	<div id=searchResults>
		<ol start=1>
			<li><h2>					
					#googleStartTag()
					We are currently unable to find additional details for #if($searchResult) a $searchResult.doc.get("programTitle")#else the program you selected.#end
					#googleEndTag()
				</h2>
			</li>
		</ol>
	</div>
</div>

#fullEnd({
		"pageType" : "search",
		"ads" : "google",
		"search" : true
})